#myTable{
    width:1000px;
    border-collapse: collapse;
    border-spacing: 0;
}
th,td{
    border:1px solid #ccc;
    font-size:18px;
    font-weight:normal;
    text-align:center;
    vertical-align: middle;
    height:30px;
    line-height:30px;
}
th{
    background-color:#b5d6e6;
}
.Text1{
	width: 250px;
	height: 80px;
}
.Text2{
	width: 250px;
	height: 80px;
}
input{
    margin-bottom: 20px;
}
#showMessage{
    background-color: green;
    width:300px;
    position:absolute;
    left: 400px;
    top:300px;
   /*display: none;*/
}
h4{
    margin-left:70px;
}
#confirm{
    width:50px;
    margin-left:115px;
}
#check,#change,#addLB{
	width: 350px;
	height: 300px;
	background: #CCE6FF;
	border: 1px solid #ccc;
	position: absolute;
	top: 25%;
	left: 30%;
	display: none;
}
#bgbox{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
 	display: none;
}
#check_content,#change_content,#add_content{
	margin: 10px auto;
	width: 90%;
	height: 80%;
}
#checksure,#changesure,#addsure{
	width: 80px;
	margin-left:40%;
}

/*添加类别按钮*/
#addBtn{
	width: 80px;
	margin-top: 20px;
	margin-left: 35%;
}
